/* DOCUMENT INFORMATION
    - Document: Boutique_PHP_v1
    - Version: 1.0.0
    - Author: Guillaume
*/

/* COLORS
    -default body text 
    -h1                 brown A52A2A
    -h4                 brown   
    -h5                 darkgoldenrod B8860B

    -button             darkgoldenrod
                        brown

    -button:hover       white

    -icon               brown
                    
    -border             brown
*/

/* FONTS
    -Default            font-family: 'Satisfy', cursive;

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =INDEX
    4. =PANIER et VALIDATION
    5. =INSCRIPTION
    6. =MON COMPTE
    7. =MODIFINFOS et MODIFADRESSE
    8. =MODIFMDP
    9. =FOOTER



*/

/* 1. GLOBAL
=================================== */
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 550%;
    color: brown;
    margin: 15% 0% 5% 0%;
    display: flex;
    justify-content: center;
}

h2.card-title {
    font-family: 'Satisfy', cursive;
    font-size: 250%;
    color: white;
    background-color: brown;
    display: flex;
    justify-content: center;
    margin: 1% 0%;
}

h3 {
    font-family: 'Satisfy', cursive;
    color: darkgoldenrod;
    display: flex;
    justify-content: center;
    margin: 10% 0% 3% 0%;
}

h4 {
    color: brown;
}

.btn-ghost-1 {
    background-color: darkgoldenrod;
    color: white;
}

.btn-ghost-1:hover {
    background-color: white;
    border: 1px solid darkgoldenrod;
    box-shadow: 7px 3px 3px darkgoldenrod;
    color: darkgoldenrod;
}

.btn-ghost-2 {
    background-color: brown;
    color: white !important;
}

.btn-ghost-2:hover {
    background-color: white;
    border: 1px solid brown;
    box-shadow: 7px 3px 3px brown;
    color: brown !important;
}

.boutique {
    background-image: url(./images/crayons_couleur.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.boutique h1 {
    color: white;
    padding-bottom: 17%;
    padding-top: 5%;
    margin-top: 6%;
    margin-bottom: 0%;
    font-size: 600%;
}


/* 2. HEADER
=================================== */
nav {
    background-color: darkgoldenrod;
}

.logo {
    width: 15%;
}

img {
    border-radius: 15px;
}

.nav-item {
    font-size: 300%;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 200%;
    padding-top: 3%;
    color: brown;
}

.navbar-brand:hover {
    color: white;
}

.deconnecter {
    padding: 12% 2%;
}

.navbar-toggler {
    background-color: brown;
}

/* 3. INDEX
=================================== */

.card h5 {
    color: darkgoldenrod;
    font-size: large;
}

.description-index {
    font-size: small;
}

.card-img-top {
    width: 50%;
}

.list {
    background-color: darkgoldenrod;
}


/* 4. PANIER et VALIDATION
=================================== */

.total {
    color: brown;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 1%;
    margin: 0% 20%;
}

.modifcoordos {
    padding: 2% 10%;
}

.btn-close {
    margin-left: 0% !important;
}

/* 5. INSCRIPTION
=================================== */

.inscription {
    background-color: white;
    border: 1px solid brown;
    border-radius: 25px;
    box-shadow: 7px 3px 3px brown;
    color: brown !important;
    margin: 5% 2% 0% 5%;
}

/* 6. MON COMPTE
=================================== */

.logo-font {
    font-size: 500%;
    padding-bottom: 5%;
}

.button-infos {
    font-size: 130% !important;
}


/* 7. MODIFINFOS et MODIFADRESSE
=================================== */

.modifinfos {
    padding: 2% 30%;
}

/* 8. MODIFMDP
=================================== */
.modifmdp {

    padding: 2% 30%;
}


/* 9. FOOTER
=================================== */

footer {
    color: brown;
    padding-top: 4%;
}




/* =================MEDIA QUERIES 1400px================ */

@media screen and (max-width: 1400px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 450%;
    }

    /*MON COMPTE*/
    .button-infos {
        font-size: 100% !important;
    }
}

/* =================MEDIA QUERIES 1203px================ */

@media screen and (max-width: 1203px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 400%;
    }

    /* INDEX et GAMMES */
    .button-card {
        display: flex;
        flex-direction: column;
    }

    .button-index {
        margin: 2% 0%;
    }

    /* PRODUIT */
    .titre-article h1 {
        font-size: 350%;
        margin-top: 18%;
    }

}

/* =================MEDIA QUERIES 1086px================ */

@media screen and (max-width: 1086px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 370%;
        margin-top: 9%;
    }
}

/* =================MEDIA QUERIES 1016px================ */

@media screen and (max-width: 1016px) {

    /* HEADER */
    .navbar-brand {
        font-size: 150%;
        padding-top: 4%;
    }

    .deconnecter {
        padding: 19.5% 2%;
    }
}

/* =================MEDIA QUERIES 991px================ */

@media screen and (max-width: 991px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 330%;
        margin-top: 10%;
    }

    /* HEADER */
    .navbar-brand {
        margin: 2% 33%;
        padding: 2%
    }

    li {
        display: flex;
        justify-content: center;
    }

    .deconnecter {
        padding: 2.2% 11.3%;
    }

    /* PRODUIT */
    .titre-article h1 {
        margin-top: 21%;
    }

    /* INSCRIPTION */
    .inscription {
        width: 100%;
    }

    /*MODIFINFOS*/
    .button-infos {
        margin: 0%;
    }

    /* PANIER */
    .deleted {
        display: flex;
        justify-content: center;
    }
}

/* =================MEDIA QUERIES 875px================ */

@media screen and (max-width: 875px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 300%;
    }

    /* HEADER */
    .deconnecter {
        padding: 2.2% 10.5%;
    }

    /* INDEX */
    .produit {
        width: 50%;
    }

    /* PRODUIT */
    .titre-article h1 {
        font-size: 300%;
        margin-top: 24%;
    }
}

/* =================MEDIA QUERIES 792px================ */

@media screen and (max-width: 792px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 280%;
        margin-top: 12%;
    }

    /* HEADER */
    .deconnecter {
        padding: 2.2% 10%;
    }

    /* PRODUIT */
    .titre-article h1 {
        margin-top: 27%;
    }
}

/* =================MEDIA QUERIES 767px================ */

@media screen and (max-width: 767px) {

    /* HEADER */
    .deconnecter {
        padding: 2.2% 9.7%;
    }

    /* MODIFINFOS/MODIFADRESSE/MODIFMDP/COMMANDE */
    .modification {
        padding: 0% 30%;
    }

    /* PANIER */
    .infos_article {
        display: flex;
        justify-content: center;
    }

    /* VALIDATION */

    .card-title {
        margin-right: 40%;
    }

    .totalcommande {
        margin-left: 5%;
    }

    .validation {
        padding: 5%;
    }

    .validation-card {
        margin-left: 30%;
    }

    .button-valid {
        margin-left: 10%;
    }

}

/* =================MEDIA QUERIES 720px================ */

@media screen and (max-width: 720px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 250%;
        margin-top: 14%;
    }

    /* HEADER */
    .navbar-brand {
        font-size: 120%;
    }

    .deconnecter {
        padding: 2.2% 10.7%;
    }
}


/* =================MEDIA QUERIES 656px================ */

@media screen and (max-width: 656px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 180%;
    }

    /* HEADER */
    .deconnecter {
        padding: 2.2% 10%;
    }

    /* PRODUIT */
    .titre-article h1 {
        margin-top: 30%;
    }

}

/* =================MEDIA QUERIES 615px================ */

@media screen and (max-width: 615px) {

    /* GLOBAL */
    .boutique h1 {
        margin-top: 18%;
    }

    /* HEADER */
    .navbar-brand {
        font-size: 100%;
    }

    .deconnecter {
        padding: 2.2% 10.7%;
    }

    /* INDEX */
    .produit {
        width: 100%;
    }

    /* VALIDATION */

    .card-title {
        margin-right: 45%;
    }
}


/* =================MEDIA QUERIES 500px================ */

@media screen and (max-width: 500px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 160%;
        margin-top: 22%;
    }

    /* HEADER */
    .navbar-brand {
        font-size: 80%;
    }

}

/* =================MEDIA QUERIES 400px================ */

@media screen and (max-width: 400px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 140%;
        margin-top: 24%;
    }

}


/* =================MEDIA QUERIES 350px================ */

@media screen and (max-width: 350px) {

    /* GLOBAL */
    .boutique h1 {
        font-size: 120%;
        margin-top: 14%;
    }

}