/* DOCUMENT INFORMATION
    - Document: Boutique_PHP_v1
    - Version: 1.0.0
    - Author: Guillaume
*/

/* COLORS
    -default body text 
    -h1                 brown
    -h5                 darkgoldenrod

    -button             darkgoldenrod
                        brown
    -button:hover       white

    -icon               brown
                    
    -border             brown
*/

/* FONTS
    -Default            font-family: 'Satisfy', cursive;

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =INDEX
    4. =PANIER et VALIDATION
    5. =FOOTER

*/

/* 1. GLOBAL
=================================== */
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 550%;
    color: brown;
    margin: 15% 0% 5% 0%;
    display: flex;
    justify-content: center;
}

h2.card-title {
    font-family: 'Satisfy', cursive;
    font-size: 250%;
    color: white;
    background-color: brown;
    display: flex;
    justify-content: center;
    margin: 1% 0%;
}

h3 {
    font-family: 'Satisfy', cursive;
    color: darkgoldenrod;
    display: flex;
    justify-content: center;
    margin: 10% 0% 3% 0%;
}

.btn-ghost-1 {
    background-color: darkgoldenrod;
    color: white;
}

.btn-ghost-1:hover {
    background-color: white;
    border: 1px solid darkgoldenrod;
    box-shadow: 7px 3px 3px darkgoldenrod;
    color: darkgoldenrod;
}

.btn-ghost-2 {
    background-color: brown;
    color: white !important;
}

.btn-ghost-2:hover {
    background-color: white;
    border: 1px solid brown;
    box-shadow: 7px 3px 3px brown;
    color: brown !important;
}

.boutique {
    background-image: url(./images/crayons_couleur.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.boutique h1 {
    color: white;
    padding-bottom: 17%;
    padding-top: 5%;
    margin-top: 7%;
    margin-bottom: 0%;
    font-size: 600%;
}


/* 2. HEADER
=================================== */
nav {
    background-color: darkgoldenrod;
}

img {
    width: 15%;
    border-radius: 15px;
}

.nav-item {
    font-size: 300%;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 200%;
    padding-top: 2%;
    color: brown;
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    background-color: brown;
}

/* 3. INDEX
=================================== */

.card h5 {
    color: darkgoldenrod;
    font-size: large;
}

.description-index {
    font-size: small;
}

.card-img-top {
    width: 50%;
}

.list {
    background-color: darkgoldenrod;
}


/* 4. PANIER et VALIDATION
=================================== */

.total {
    color: brown;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 1%;
}

.modifcoordos {
    padding: 2% 10%;
}

/* 5. INSCRIPTION
=================================== */

.inscription {
    background-color: white;
    border: 1px solid brown;
    border-radius: 25px;
    box-shadow: 7px 3px 3px brown;
    color: brown !important;
    margin: 5% 2% 0% 5%;
}

/* 6. MON COMPTE
=================================== */

.logo-font {
    font-size: 500%;
    padding-bottom: 5%;
}

.button-infos {
    font-size: 130% !important;
}


/* 7. MODIFINFOS et MODIFADRESSE
=================================== */

.modifinfos {
    padding: 2% 30%;
}

/* 8. MODIFMDP
=================================== */
.modifmdp {

    padding: 2% 40%;
}

/* FOOTER
=================================== */

footer {
    color: brown;
    padding-top: 4%;
}




/* =================MEDIA QUERIES 1400px================ */

@media screen and (max-width: 1400px) {

    .boutique h1 {
        font-size: 450%;
    }
}

/* =================MEDIA QUERIES 1203px================ */

@media screen and (max-width: 1203px) {

    .boutique h1 {
        font-size: 400%;
    }
  
    .button-card {
        display: flex;
        flex-direction: column;
    }

    .button-index {
        margin: 2% 0%;
    }

    .titre-article h1 {
        font-size: 350%;
        margin-top: 18%;
    }
}

/* =================MEDIA QUERIES 1086px================ */

@media screen and (max-width: 1086px) {

   .boutique h1 {
        font-size: 370%;
    }

}

/* =================MEDIA QUERIES 1016px================ */

@media screen and (max-width: 1016px) {
    .navbar-brand {
        font-size: 150%;
        padding: 25px 10px;
    }
}

/* =================MEDIA QUERIES 991px================ */

@media screen and (max-width: 991px) {

  
   

    .titre-article h1 {
        margin-top: 21%;
    }

    .inscription {
        width: 100%;
    }
}

/* =================MEDIA QUERIES 875px================ */

@media screen and (max-width: 875px) {

    .boutique h1 {
        margin-top: 19%;
    }

    .produit {
        width: 50%;
    }

    .titre-article h1 {
        font-size: 300%;
        margin-top: 24%;
    }
}

/* =================MEDIA QUERIES 720px================ */

@media screen and (max-width: 720px) {

    .boutique h1 {
        margin-top: 23%;
    }

    .titre-article h1 {
        margin-top: 27%;
    }
}

/* =================MEDIA QUERIES 656px================ */

@media screen and (max-width: 656px) {

    .boutique h1 {
        font-size: 200%;
        margin-top: 26%;
    }

    .titre-article h1 {
        margin-top: 30%;
    }

}

/* =================MEDIA QUERIES 615px================ */

@media screen and (max-width: 615px) {

    .produit {
        width: 100%;
    }
}



/* =================MEDIA QUERIES 576px================ */

@media screen and (max-width: 576px) {}